body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Suez One', serif;
  font-weight: bold;
  color: #F5F5F5;
  text-align: center;
  background-image: url(../images/1.jpg);
  background-size: cover;
  background-repeat: repeat;
}

body.result {
  background-image: url(../images/2.jpg);
}

h1 {
  font-size: 42px;
  margin: 10px 0 0 0;
  border-bottom: 1px solid #F5F5F5;
}

h2 {
  font-weight: 300;
  font-size: 15px;
  margin-top: 10px;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 3px;
}
    
header {
  height: 180px;
  padding: 20px;
}

.formular{
  font-size: 16px;
  margin: 50px 30px 0 30px;
}

.formular p {
  margin: 0;
  display: inline-block;
  position: relative;
  vertical-align: top;
  margin-left: 10px;
	margin-right: 10px;
  width: 60px;
}

input[type="radio"] {
    display:none;
}

input[type="radio"] + label::before {
  transition: all 250ms cubic-bezier(.4,.25,.3,1);
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: white;
  border: 0px solid white;
  font-size: 0;
  position: absolute;
  bottom: 145%;
  left: 50%;
  transform: translate(-50%, 50%);
}

input[type="radio"] + label::after {
  transition: all 250ms cubic-bezier(.4,.25,.3,1);
  content: "";
  width: 0;
  height: 0;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  bottom: 145%;
  left: 50%;
  transform: translate(-50%, 50%);
}

input[type="radio"]:checked + label::after {
  width: 15px;
  height: 15px;
}

input[type="radio"]:checked + label::before {
  background-color: transparent;
  width: 25px;
  height: 25px;
  border-width: 2px;
}

label {
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.buttonWrap {
  position: absolute;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  bottom: 8%;
  left: 0;
  right: 0;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width: 150px;
  height: 150px;
  color: #AD1457;
  border: 1px solid #F5F5F5;
  border-radius: 50%;
  background-color: #F5F5F5;
  box-shadow: 0px 9px 16px 5px rgba(0,0,0,0.6);
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

button:focus {
  outline:0;
}

button:hover {
  cursor: pointer;
}

#answer {
  display: flex;
  margin-top: 15%;
  font-size: 16px;
  color: #AD1457;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#answer .input {
  min-width: 50%;
  padding: 20px;
  background-color: #F5F5F5;
  box-shadow: 0 3px 10px 1px rgba(0, 0, 0, 0.30);
  margin: 5px 0;
}
@media (max-width: 530px){
  #answer .input {
    min-width: 75%;
  }
}

@media (min-width:461px){
  .formular {
    margin-top: 150px;
    font-size: 26px;
  }
  .formular p {
    width: 110px;
  }
  .buttonWrap {
    bottom: 17%;
    }
  input[type="radio"] + label::before, input[type="radio"] + label::after {
    bottom: 150%;
  }
  #answer {
    margin-top: 10%;
  }
}

@media (min-width:555px){
  body {
  background-size: contain;
  }
}